<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="dao.BoardDao">
 
 
<!--  table명 : board -->
 <insert id="insertBoard" parameterType="java.util.HashMap">
 	insert into board values(0, #{major}, #{minor}, #{title}, #{nickname}, #{content}, sysdate(), #{end_date}, 
 	#{quantity}, 0, #{price}, 0, 1, 0, 0)
 		<selectKey keyProperty="no" order="AFTER" resultType="int">
 			select max(no) as no from board
 		</selectKey>
 </insert>
 
 <delete id="deleteBoard" parameterType="int">
 	delete from board where no=#{no}
 </delete>
 
 <update id="updateBoard" parameterType="java.util.HashMap">
 	update board set category_major=#{major}, category_minor=#{minor}, title=#{title}, content=#{content}, 
 	date=sysdate(), end_date=#{end_date},  state=0, price=#{price}, quantity=#{quantity} where no=#{no}
 </update>
 
 <select id="selectOneBoard" parameterType="int" resultType="Board">
 	select * from board where no=#{no}
 </select>
 
 <select id="selectAllPremiumBoard" parameterType="int" resultType="Board">
 	select * from board where premium = 0
 </select>
 
 <select id="selectAllNormalBoard" parameterType="java.util.HashMap" resultType="Board">
 	SELECT A.* FROM ( 
	SELECT @searchnum := @searchnum+ 1 AS searchnum, board.*  FROM board 
	, (SELECT @searchnum:= 0) R 
	where premium = 1 ) A WHERE A.searchnum between #{start} and #{end}
 </select>
 
<!--  <update id="reduceQuantity" parameterType="java.util.HashMap"> -->
<!--  	update board set quantity=quantity-#{reduce} where no=#{no} -->
<!--  </update> -->
 
 <update id="updateStar" parameterType="java.util.HashMap">
 	update board set total_star=total_star+#{star}, num_evaluator=num_evaluator+1 where no=#{board_no}
 </update>
 
 <update id="udpateBoardRead_count" parameterType="java.util.HashMap" >
 	update board set read_count = read_count+1 where no=#{no}
 </update>
 
 <select id="selectSearchResult" parameterType="java.util.HashMap" resultType="Board">
 	select * from board 
 	where 1=0
 	<if test="title != null">
 		or title like '%${title}%'
 	</if>
 	<if test="content != null">
 		or content like '%${content}%'
 	</if>
 	order by no desc 
 </select>
 
 <select id="searchCategory" parameterType="java.util.HashMap" resultType="Board">
 	select * from board
 	where 1=0
 	 	<if test="title != null">
 		or title like '%${title}%'
 	</if>
 	<if test="content != null">
 		or content like '%${content}%'
 	</if>
 	and category_major=#{major} order by no desc 
 </select>
 
 <select id="getCount" resultType="int">
 	select count(no) from board where premium=1
 </select>
 
 
 
<!--  table명 : map -->
 <insert id="insertMap" parameterType="java.util.HashMap">
 	insert into map values(0, #{lat}, #{lng}, #{info_title}, #{info_address}, #{info_address2}, #{no})
 </insert>
 
 <update id="updateMap" parameterType="java.util.HashMap">
 	update map set lat=#{lat}, lng=#{lng}, title=#{info_title}, address=#{info_address}, address2=#{info_address2}  where board_no=#{no}
 </update>
 
 <delete id="deleteMap" parameterType="int">
 	delete from map where no=#{no}
 </delete>
 
 <select id="selectOneMap" parameterType="int" resultType="MapInfo">
 	select * from map where board_no=#{board_no}
 </select>


<!-- table명 : file -->
 <insert id="insertFile" parameterType="java.util.HashMap">
	insert into file values(0, #{no}, #{file_name1}, #{file_name2}, #{file_name3}, #{file_name4})
 </insert>
 
 <update id="updateFile" parameterType="java.util.HashMap">
 	update file set file_name1=#{file_name1}, file_name2=#{file_name2}, file_name3=#{file_name3}, file_name4=#{file_name4} where no=#{no}
 </update>
 
 <delete id="deleteFile" parameterType="int">
 	delete from file where no=#{no}
 </delete>
 
 <select id="selectOneFromFile" parameterType="int" resultType="File">
 	select * from file where no=#{no}
 </select>
 
 <select id="selectThumbnail" parameterType="int" resultType="String">
 	select file_name1 from file where no=#{no}
 </select>
 
 
<!--  table명 : board_option -->
 <insert id="insertBoard_option" parameterType="java.util.HashMap">
	insert into board_option values(0, #{no}, #{kind}, #{price})
 </insert>
 
<!--  <update id="updateBoard_option" parameterType="java.util.HashMap"> -->
<!--  	update board_option set kind=#{kind}, price=#{price} where no=#{no} -->
<!--  </update> -->
 
 <delete id="deleteBoard_option" parameterType="int">
 	delete from board_option where no=#{no}
 </delete>
 
 <select id="selectBoard_option" parameterType="int" resultType="java.util.HashMap">
 	select * from board_option where no=#{no}
 </select>
 
 <select id="selectKind" parameterType="java.util.HashMap" resultType="java.util.HashMap">
 	select * from board_option where no=#{no} and kind=#{kind}
 </select>
 
 
<!--  table명 : interest -->
 <insert id="insertInterest" parameterType="java.util.HashMap">
 	insert into interest values(0, #{board_no}, #{id}, #{category_no});
 </insert>
 
 <select id="selectOneInterest" parameterType="java.util.HashMap" resultType="java.util.HashMap">
 	select * from interest where id=#{id} and board_no=#{board_no}
 </select>
 
 <select id="selectAllDips" parameterType="String" resultType="java.util.HashMap">
 	select * from interest where id=#{id}
 </select>
 
  <select id="dipsWithCategory" parameterType="java.util.HashMap" resultType="java.util.HashMap">
 	select * from interest where id=#{id} and category_no=#{category_no}
 </select>
 
 
 
<!--  table명 : star_point -->
 <select id="selectUserReview" parameterType="int" resultType="java.util.HashMap">
 	select * from star_point where board_no=#{no}
 </select>
 
 
<!--  카테고리 -->
 <select id="category" resultType="Category">
 	select * from category_high
 </select>
 
 <select id="categoryLow" parameterType="int" resultType="Category">
 	select * from category_low where high_no=#{high_no}
 </select>
 </mapper>
 
 
 
 
 
 
 
 